<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @site.url %><br/>
<%= image_tag @site.screenshot.url(:medium) %><br />

</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', "/" %>
