<!DOCTYPE html>
<html>
<head>
  <title>Moodboards</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<a href="/"><h1>moodboards</h1></a>

	<%= link_to '+', new_site_path, :class=>"new-site" %>
	<select id="boards">
		<option>fashion</option>
		<option>startups</option>
		<option>blog</option>
		<option>sports</option>
	</select> 

	</nav>

<div id="content">
	<%= yield %>
</div>

</body>
</html>
